.footer {
    border-top: solid 1px rgba(239, 239, 240, 0.1);
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
}

.simplified {
    color: rgba(239, 239, 240, 0.5);
    padding-right: 5px;
}

.tryButton {
    max-width: 10vw;
    font-family: 'Jost';
}

.footerLogo {
    display: flex;
    align-items: center;
    min-height: 10vh;
}